*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(sm) {
        font-size: 40%;
    }
}

body {
    box-sizing: border-box;
    font-family: $font-primary;
    font-size: 1.6em;
    background-color: var(--color-secondary);
    position: relative;


    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: var(--color-dark);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-primary);
    }

}

ul {
    list-style: none;
}
a {
    text-decoration: none !important;
    color: currentColor;
}





