:root {
    // Colors
    --color-light: #fff;
    --color-dark: #171A21;
    --color-primary: #6C8898;
    --color-gray: #8A8989;

    // Nav Height
    --nav-height: 8rem;
}

// Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;



