.btns {
    margin-top: 8rem;
    display: flex;
    text-align: center;
}

.btn {
    background: none;
    border: 2px solid transparent;
    color: currentColor;
    padding: 1.4rem 1.8rem;
    border-radius: 4rem;
    font-size: 2rem;
    text-decoration: none;
    appearance: none;

    @include respond(md) {
        font-size: 3rem;
        white-space: nowrap;
    }

    &--ghost {
        border-color: currentColor;
    }

    &--full {
        background-color: var(--color-light);
        color: var(--color-primary);
    } 
}


// Scroll Indicator

.scroll-btn {
    text-align: center;
    position: absolute;
    bottom: -78px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-dark);

    @include respond(md) {
        color: var(--color-light);
        bottom: -20px;

    }

    &::before {
        content: "Scroll";
        display: block;
        margin-bottom: 2rem;
        transform: rotate(-90deg);
        color: currentColor;

        @include respond(md) {
            content: "Swipe";
            font-size: 2rem;
        }
    }

    .arrow {
        display: block;
        animation: moveArrow 1s ease-in-out infinite alternate;
        @include respond(md) {
            filter: drop-shadow(0 0 8px var(--color-dark));
        }
        path {
            fill: currentColor;
        }
    }
}