.shape-about {
    position: absolute;
    @include respond(md) {
        display: none
    }

    &--1 {
        right: -8.4rem;
        top: -5.4rem;
    }

    &--2 {
        right: 4.8rem;
        top: -3.6rem;
    }

    &--3 {
        bottom: -4.7rem;
        right: -5.2rem;
    }

    &--4 {
        bottom: 3.2rem;
        left: -6.4rem;
    }

    &--5 {
        right: 24rem;
        top: 23rem;
    }
}



// Hero Shapes 

.shape-hero {
    position: absolute;


    &--hand {
        bottom: 0;
        left: 60%;
        transform: translateX(60%);
        animation: moveHand 2s ease-in forwards;
    }

    &--1 {}
    &--2 {}
    &--3 {}
    &--4 {}
    &--5 {}
    &--6 {}
    &--7 {}
    &--8 {}
    &--9 {}
}



.hand-shape {
    position: absolute;
    bottom: 0;
    right: 0;
}