@keyframes moveBg {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-53%);
    }
}


@keyframes moveArrow {
    0% {
        transform: translateY(0%);
    }



    100% {
        transform: translateY(37%);
    }
}